body {
    background-color: #AFADF0;

    /* text-align: center; */

    color: white;

    font-family: "Roboto";
}

h1 {
    text-align: left;
    font-family: 'Roboto';
    font-style: normal;
    color: #FFFFFF;
}

input[type="text"] {
    width: 700px;
    height: 100px;
    color: #FFFFFF;
}

.header {
    color:#271847
}

.search-button button img {
    height: 50px;
    width: 50px;
}

/*FIXME: Get the button to go to the RIGHT side of the screen
AND Get the background to go transparent*/
.search-button button {
    border: 0;
    background: transparent;
    float: right;
}

.profile-button button img {
    height: 50px;
    width: 50px;
}

.profile-button button {
    border: 0;
    background: transparent;
}

/*
    border-radius: 50%;
    width: 100px;
    height: 200px;
    
    cursor: pointer;
    float: right;
*/